<div class="my-12">
  <object
    data='{{ .Get 0 }}'
    type="application/pdf"
    width="100%"
    style="aspect-ratio: 8.5 / 11.5;"
  >

    <iframe
      src='{{ .Get 0 }}'
      width="100%"
      style="aspect-ratio: 8.5 / 11.5;"
    >
    <p>This browser does not support PDF!</p>
    </iframe>
  </object>
</div>
<!--<div>
  <iframe id="pdf-js-viewer" src="/pdfjs/web/viewer.html?file={{ absURL (path.Join (path.Dir .Page.File.Path) (.Get 0)) }}" title="webviewer" frameborder="0" width="100%" height="1280"></iframe>
</div>-->